$s-size: .8rem
$m-size: 1.6rem
$l-size: 2.4rem
$xl-size: 3.2rem

$thin-weight:     100
$light-weight:    300
$regular-weight:   400
$medium-weight: 500

$font-color: #646464
$background-color: #fafafa
$caution-color: #FF311F

@font-face
    font-family: Overpass Thin
    src: url('../assets/Overpass-VariableFont_wght.ttf') format('truetype')
    font-weight: $thin-weight

@font-face
    font-family: Overpass Light
    src: url('../assets/Overpass-VariableFont_wght.ttf') format('truetype')
    font-weight: $light-weight

@font-face
    font-family: Overpass Regular
    src: url('../assets/Overpass-VariableFont_wght.ttf') format('truetype')
    font-weight: $regular-weight

@font-face
    font-family: Overpass Medium
    src: url('../assets/Overpass-VariableFont_wght.ttf') format('truetype')
    font-weight: $medium-weight

html
    font-size: 62.5%
    height: 100%    
    font-family: Overpass Light, sans-serif
    color: $font-color

body
    background: $background-color
    font-size: $m-size
    height: 100%
    margin: 0

#root
    width: 100vw
    height: 100vh
    position: absolute

.workspace
    overflow: hidden
    height: 100vh
    display: grid
    grid-template-columns: 1fr 9fr

.sidebar
    padding: $s-size

.lists
    width: auto
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr

.activityList
    overflow: hidden
    margin: $s-size
    border-radius: $s-size
    box-shadow: .2rem .2rem .5rem darken($background-color, 50%)

.activityList__title
    padding: $s-size

.activityList__content
    height: 90vh
    overflow: auto
    padding: $s-size

.activityList__item
    margin-bottom: 1.2rem
    padding: $s-size
    border-radius: $s-size
    box-shadow: .2rem .2rem .5rem darken($background-color, 50%)
    min-width: 0

.sourceList__item
    margin-bottom: 1.2rem
    border-radius: $s-size
    box-shadow: .2rem .2rem .5rem darken($background-color, 50%)

.source-card__banner
    height: $l-size
    border-radius: $s-size $s-size 0 0 

.source-card__content
    padding: 0 $s-size $s-size $s-size

.source-form__color-banner
    height: 10rem
    border-radius: $s-size $s-size 0 0 

    display: flex
    justify-content: flex-end
    align-items: flex-end

.activity-card__source-color
    border-radius: 2rem
    height: 10px
    width: 30px

form
    display: flex
    flex-direction: column

p
    margin-block-start: $s-size
    margin-block-end: $s-size
    font-size: 85%

p.title
    font-size: 100%
    font-family: Overpass Regular

button
    font-famili: Overpass Medium
    color: $background-color
    background: #2a2a2a
    margin: .4rem
    border: none
    border-radius: .4rem

.button--cautious
    background: $caution-color

button:hover
    box-shadow: .2rem .2rem .5rem darken($background-color, 50%)

input
    padding: $s-size $m-size
    color: $font-color
    border: none
    border-radius: $s-size

input.title
    font-size: $l-size
    font-family: Overpass Medium

textarea
    font-family: Overpass Light
    padding: $s-size $m-size
    color: $font-color
    height: 150px
    box-sizing: border-box
    border: none
    border-radius: $s-size
    resize: none

textarea.detail
    font-size: $m-size

.ReactModal__Content--after-open
    margin-left: auto
    margin-right: auto
    padding: $s-size
    width: 40%
    background: $background-color

::-webkit-scrollbar 
    width: $s-size

::-webkit-scrollbar-track 
  border-radius: $s-size

::-webkit-scrollbar-thumb 
  background: #dddddd
  border-radius: $s-size
